<div class="itemDisplay">
    <h4>{{ item['description'] }}</h4>
    <p>{{ item['lost_found'] }} on {{ item['date_logged'] }} by {{ item['username'] }}</p>

    <form method="POST" action="edit_item" style="display: inline">
        <input type="text" name="item-id-placeholder" value="{{ item['item_id'] }}" style="display:none"> <!-- this input is here only to send the id of the item selected through the URL upon form submission -->
        
        <button class="smallButton floatLeft" type="submit">Edit info</button>
    </form>

    <form method="POST" action="profile" style="display: inline">
        <input type="text" name="item-id-placeholder" value="{{ item['item_id'] }}" style="display:none"> <!-- this input is here only to send the id of the item selected through the URL upon form submission -->
        
        <button class="smallButton floatRight" type="submit">Delete item</button>
    </form>
</div>